@model IEnumerable<Assignment2.Entities.Course>

@{
    ViewBag.Title = "AllAssignmentsPerCourse";
}

<h2>Assignments per course</h2>


<table class="table">
    <tr>
        <th>
            Course title
        </th>
        <th>
            Assignmets
        </th>
    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => course.Title)
            </td>
            <td>
                <ol>
                    @foreach (var assignment in course.Assignments)
                    {
                        <li>@assignment.Title</li>
                    }
                </ol>
            </td>
        </tr>
    }

</table>
