<h2>
    Learn more about Students
</h2>

<div>
    <h3 class="text-center">
        Generally
    </h3>
    <h5>
        The user could:
    </h5>
    <ul>
        <li>
            Insert, edit, see details and delete
        </li>
        <li>
            Search by first name or by last name
        </li>
        <li>
            Ascend or descend the students by pressing the button over the desired column (first name, last name, date of birth)
        </li>
        <li>
            Select the items per page
        </li>
    </ul>
</div>

<div>
    <h3 class="text-center">
        Insert new student
    </h3>
    <p>
        In this section you can create a new student. To create a new student the first name and the last name are required (there is a validation),
        also there is a validation in the Discount field that does not allow the user to insert a negative value.
        The user has the ability to select more than one entities from the lists holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Edit
    </h3>
    <p>
        In this section the user could edit all the data of the student, the validations which are mentioned above are still in place.
        Additionally, the user could remove or add courses from the lists that appeared in this section.
        The user has the ability to select more than one entities from the lists holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Delete
    </h3>
    <p>
        In this section the user could delete the student with all the relationships that this student may have.
        <br />
        For instance:
        <br />
        If a student has enrolled in a course and in an assignment by deleting this student they will be not enrolled any more in the
        course and in the assignment that they used to be enrolled.
    </p>
</div>


