<h2>
    Learn more about Assignments
</h2>

<div>
    <h3 class="text-center">
        Generally
    </h3>
    <p>
        In this section the user could see some useful statistics about the school.
    </p>
</div>






