<h2>
    Learn more about Courses
</h2>

<div>
    <h3 class="text-center">
        Generally
    </h3>
    <h5>
        The user could:
    </h5>
    <ul>
        <li>
            Insert, edit, see details and delete
        </li>
        <li>
            Search by title or by type in the courses
        </li>
        <li>
            Ascend or descend the courses by pressing the button over the desired column (course title, stream, type, start date, end date)
        </li>
        <li>
            Select the items per page
        </li>
    </ul>
</div>

<div>
    <h3 class="text-center">
        Insert new course
    </h3>
    <p>
        In this section you can create a new course. To create a new course a title is required (there is a validation),
        also there is a validation in the Fees field that does not allow the user to insert a negative value.
        Additionaly, there is another one validation in the start date and in the end date of the course which prevents
        the user from inserting an end date which is before the start date.
    </p>
</div>

<div>
    <h3 class="text-center">
        Edit
    </h3>
    <p>
        In this section the user could edit all the data of the course, the validations which are mentioned above are still in place.
        Additionally, the user could remove or add trainers and students from the lists that appeared in this section.
        The user has the ability to select more than one entities from the lists holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Delete
    </h3>
    <p>
        In this section the user could delete the course with all the relationships that this course may have (students, trainers, assignments etc.).
        <br /> 
        For instance: 
        <br />
        If a course has students,trainers and assignments by deleting this course the students and the trainers that had enrolled in this
         course will not be enrolled any more in this course, also, the assignments which had been assigned in this course will be deleted.
    </p>
</div>

