<h2>
    Learn more about Assignments
</h2>

<div>
    <h3 class="text-center">
        Generally
    </h3>
    <h5>
        The user could:
    </h5>
    <ul>
        <li>
            Insert, edit marks, edit, see details and delete
        </li>
        <li>
            Search by title or by description
        </li>
        <li>
            Ascend or descend the assignments by pressing the button over the desired column (course title, assignment title, description, submission date)
        </li>
        <li>
            Select the number of items per page
        </li>
    </ul>
</div>

<div>
    <h3 class="text-center">
        Insert new assignment
    </h3>
    <p>
        In this section the user can create a new assignment. To create a new assignment the assignment title and course are required (there is a validation).
        When the user selects a course a new list will appear with students which have enrolled in this course and the user could select
        if they want to assign this assignment to students.
        The user has the ability to select more than one entities from the list "Select students" holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Edit marks
    </h3>
    <p>
        In this section the user could see and edit all the students' marks which they have been given in the specific assignment. 
        There are validations which allow values between 0 and 100. 
    </p>
</div>

<div>
    <h3 class="text-center">
        Edit
    </h3>
    <p>
        In this section the user could edit all the data of the assignment except the course, the validations which are mentioned above are still in place.
        Additionally, the user could remove or add students from the lists that appeared in this section.
        The user has the ability to select more than one entities from the lists holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Details
    </h3>
    <p>
        In this section the user could see some of the assignment details with the ability to click on some links and to see details of other sections (course).
    </p>
</div>

<div>
    <h3 class="text-center">
        Delete
    </h3>
    <p>
        In this section the user could delete the assignment with all the relationships that this assignment may have.
        <br />
        For instance:
        <br />
        If an assignment has been allocated students by deleting this assignment the students will no longer be allocated to the
        assignment.
    </p>
</div>



