<h2>
    Learn more about Assignments
</h2>

<div>
    <h3 class="text-center">
        Generally
    </h3>
    <p>
        In this section the user could see a general prespective about who is where, also, the user could ascend or descend the results
        by course title. There are links in every field so that the user could redirect and see details for every desirable
        entity that exists in this section.
    </p>
</div>





