
<h2>
    Learn more about Trainers
</h2>

<div>
    <h3 class="text-center">
        Generally
    </h3>
    <h5>
        The user could:
    </h5>
    <ul>
        <li>
            Insert, edit, see details and delete
        </li>
        <li>
            Search by first name, last name or subject
        </li>
        <li>
            Ascend or descend the trainers by pressing the button over the desired column (first name, last name, subject)
        </li>
        <li>
            Select the number of items per page
        </li>
    </ul>
</div>

<div>
    <h3 class="text-center">
        Insert new trainer
    </h3>
    <p>
        In this section the user can create a new trainer. To create a new trainer the first name and the last name are required (there is a validation).
        The user has the ability to select more than one entities from the list "Assign courses" holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Edit
    </h3>
    <p>
        In this section the user could edit all the data of the trainer, the validations which are mentioned above are still in place.
        Additionally, the user could remove or add courses from the lists that appeared in this section.
        The user has the ability to select more than one entities from the lists holding the Crtl button and clicking on the desirable entities.
    </p>
</div>

<div>
    <h3 class="text-center">
        Details
    </h3>
    <p>
        In this section the user could see some of the trainer details with the ability to click on some links and to see details from other sections (eg. courses).
    </p>
</div>

<div>
    <h3 class="text-center">
        Delete
    </h3>
    <p>
        In this section the user could delete the trainer with all the relationships that this trainer may have.
        <br />
        For instance:
        <br />
        If a trainer has enrolled in a course by deleting this trainer they will no longer be enrolled in the
        course.
    </p>
</div>


