

<div class="container-float">
    @{ List<Chart> charts = new List<Chart>() { };}
    @for (int i = 0; i < ViewBag.assignmentTitles.Count; i++)
    {
        {
            charts.Add(new Chart(width: 550, height: 300)
                  .AddTitle("test")
                  .AddSeries(chartType: "column",
                     xValue: ViewBag.assignmentTitles[i],
                     yValues: ViewBag.assignmentAvgMarks[i]));
        }
    }

    @foreach (var image in charts)
    {
        image.Write("png");
    }



    @*@foreach (var assignment in ViewBag.assignmentTitles)
        {
            chart.Write("png");
            <div class="chartImg">
                <img src="@Url.Action("ChartBuild")" alt="Average mark of students per course" />
            </div>
        }*@

</div>
