

    <div class="container-float">
        @for (int i = 0; i < ViewBag.assignmentTitles.Count; i++)
        {
        <div class="chartImg">
            @{ string[] x = new string[] { "a", "b", "c" }; int[] y = new int[] { 1, 2, 3 };}
            @*<img src="@Url.Action("ChartBuild", new { xValues =  ViewBag.assignmentTitles[i], yValues = ViewBag.assignmentAvgMarks[i], title = "phys"})" alt="Average mark of students per course" />*@
            <img src="@Url.Action("ChartBuild","Statistics", new { xValues = x , yValues = y, title = "phys"})" alt="Average mark of students per course" />
            <img src="@Url.Action("Chart5")" alt="Average mark of students per course" />
        </div>
        }

        @*@foreach (var assignment in ViewBag.assignmentTitles)
        {
            chart.Write("png");
            <div class="chartImg">
                <img src="@Url.Action("ChartBuild")" alt="Average mark of students per course" />
            </div>
        }*@

    </div>
