
@{
    ViewBag.Title = "StatisticsIndex";
}

<h2>Statistics</h2>

<div class="container-float">
    <div class="chartImg">
        <img src="@Url.Action("Chart1")" alt="Count Students, Assignments, Trainers and Courses" />
    </div>

    

    
</div>