
@{
    ViewBag.Title = "StatisticsIndex";
}

<h2>Statistics</h2>

<div class="container-float">
    <br />
    <div class="chartImg">
        <img src="@Url.Action("Chart1")" alt="Count Students, Assignments, Trainers and Courses" />
    </div>
    <br />
    <hr />
    <br />
    <div class="chartImg">
        <img src="@Url.Action("Chart2")" alt="Count Students, Assignments, Trainers and Courses" />
        <img src="@Url.Action("Chart3")" alt="Count Students, Assignments, Trainers and Courses" />
        <img src="@Url.Action("Chart4")" alt="Count Students, Assignments, Trainers and Courses" />
    </div>
</div>