@model  IEnumerable<Assignment2.Entities.StudentCourse>

@{
    ViewBag.Title = "AllStudentCourses2";
}

<h2>All students per course</h2>

<table class="table">
    <tr>
        <th>
            Course title
        </th>
        <th>
            Students
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GroupBy(x => x.Course))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Title)
            </td>
            <td>
                <ol>
                    @foreach (var studentCourse in item)
                    {
                        <li>@studentCourse.Student.FirstName @studentCourse.Student.LastName</li>
                    }
                </ol>
            </td>
        </tr>
    }

</table>
