
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/TestCourse/Index">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Student/AllStudents">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TestTrainer/Index">Trainers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TestAssignment/Index">Assignments</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Relations
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/TestStudentCourse/Index">Students per course</a>
                <a class="dropdown-item" href="#">Trainers per course</a>
                <a class="dropdown-item" href="#">Students per course per assignment</a>
            </div>
        </li>
    </ul>
</nav>