
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    @*<a class="navbar-brand" href="#">Logo</a>*@

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/Course/AllCourses">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Student/AllStudents">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Trainer/AllTrainers">Trainers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Assignment/AllAssignments">Assignments</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Relations
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/StudentPerCourse/AllStudentCourses">Students per course</a>
                <a class="dropdown-item" href="/TrainersPerCourse/AllTrainerCourse">Trainers per course</a>
                <a class="dropdown-item" href="/AssignmentsPerCourse/AllAssignmentsPerCourse">Assignments per course</a>
                <a class="dropdown-item" href="/StudentsPerCoursePerAssignment/AllStudentsPerCoursePerAssignment">Students per course per assignment</a>
            </div>
        </li>
    </ul>
</nav>