@model IEnumerable<Assignment2.Entities.TrainerCourse>

@{
    ViewBag.Title = "AllTrainersCourses";
}

    <h2>All trainers per course</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course title
        </th>
        <th>
            Trainers
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GroupBy(x => x.Course))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Title)
            </td>
            <td>
                <ol>
                    @foreach (var trainerCourse in item.Key.TrainerCourses.ToList())
                    {
                        <li>@trainerCourse.Trainer.FirstName @trainerCourse.Trainer.LastName</li>
                    }
                </ol>
            </td>
        </tr>
    }

</table>
