body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*=============================================== My CSS =================================================================*/

.searchBar {
    height: 38px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    background-color: lightgray;
    outline: none;
}


.btn-search {
    height: 38px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-color: #007bff;
    outline: none;
    font-weight: 600;
    color: white;
}

input[type=submit].btn-search:hover {
    background-color: #016bdc;
}

